
@{
    ViewBag.Title = "Reporte";

    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;

}

<h2 class="display-4 my-3 text-center">Reporte por Departamento Destino</h2>

<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <form action="/DocumentReports/DepDestReportResult" method="post">
            <div class="form-group">
                <label class="col-form-label">Departamento Destino:</label>
                @Html.DropDownList("Seleccione el departamento Destino", items, new { @class = "form-control", Name = "DepDest" })
            </div>
            <input type="submit" name="name" value="Buscar" class="btn btn-primary btn-block" />
        </form>
    </div>
</div>
